* {
  margin: 0px;
}

/* variables */
:root {
  --max-page-width: 500px;
  --navbar-backround-color: black;
  --navbar-contrast-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button-save-delete {
  margin-left: auto;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.button-save-delete:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px darkgrey;
}

.button-save-delete_delete {
  background-color: red;
  color: white;
}

.button-save-delete_save {
  border: 2px solid darkgray;
}

.button-save-delete_save .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(80, 80, 80, 0.6);
  display: flex;
  justify-content: center;
}

.modal__button-container {
  display: flex;
  justify-content: space-evenly;
}

.modal__button {
  height: 50px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: none;
  border-top: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
  box-shadow: 3px 3px 1px lightgrey;
  font-size: 21px;
  font-weight: bold;
}

.modal__button:hover {
  cursor: pointer;
  box-shadow: none;
}

.modal__button_confirm {
  background-color: red;
  color: white;
}

.modal__button_cancel:hover {
  background-color: whitesmoke;
}

.modal__content {
  background-color: #fefefe;
  margin-top: 75px;
  width: 325px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal__close {
}

.modal__close-button {
  font-size: 42px;
  background-color: white;
  color: red;
  border: none;
}

.modal__close-button:hover,
.modal__close-button:focus {
  cursor: pointer;
}

.modal__text {
  display: flex;
  justify-content: center;
  font-size: 21px;
}

.navbar {
  background-color: var(--navbar-backround-color);
  color: var(--navbar-contrast-color);
  height: 55px;
  padding: 5px;
}

.navbar__content {
  max-width: var(--max-page-width);
  margin: 0 auto;
}

.navbar__content_display-wide {
  display: none;
  align-items: center;
}

.navbar__content_display-mobile {
  display: block;
}

.navbar__hamburger-button {
  background-color: var(--navbar-backround-color);
  border: none;
}

.navbar__hamburger-button:hover {
  cursor: pointer;
}

.navbar__hamburger-dash {
  width: 60px;
  height: 45px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navbar__hamburger-dash span {
  position: absolute;
  height: 7px;
  width: 100%;
  background: white;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navbar__hamburger-dash span:nth-child(1) {
  top: 0px;
}

.navbar__hamburger-dash span:nth-child(2),
.navbar__hamburger-dash span:nth-child(3) {
  top: 18px;
}

.navbar__hamburger-dash span:nth-child(4) {
  top: 36px;
}

.navbar__hamburger-dash.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar__hamburger-dash.open span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar__hamburger-dash.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar__hamburger-dash.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-size: 21px;
  padding: 5px;
}

.navbar__link_current-page {
  text-decoration: underline;
}

.navbar__link:active {
  text-decoration: underline;
}

.save-button {
  margin-left: auto;
}

@media only screen and (min-width: 500px) {
  .navbar__content_display-wide {
    display: flex;
    height: 100%;
  }

  .navbar__content_display-mobile {
    display: none;
  }
}
